
//IMPORTS
@import "responsive/breakpoints.scss";
@import "responsive/devices.scss";




/* ===================== DEBUT GOOGLE FONTS ======================================================*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Raleway:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400&display=swap');





/* DEBUT ROOT*/
:root{


/*--------COLOR--------------------------*/   


--color0:#fff;
--color1:#eeecec;
--color2:#d4d4d4;
--color3:#adadad;
--color4:#000; //text-color
--color5:#2F1817;
--colorTheme: #2a292e;
--color6:#dadce0;
--color7:#202124;
--color8:#404040;





/*--------FONT AND TYPOGRAPHY---------------------------*/
--title-font:'Roboto', sans-serif;
--body-font: 'Roboto', sans-serif;


--h1-font-size:1.9rem;
--h1-font-size-Mobile:1.9rem;
--h2-font-size:1.6rem;
--h3-font-size:0.8125rem;
--normal-plus: 1rem;
--normal-font-size: 0.8125rem;
--small-font-size:0.5625rem;
--smaller-font-size:0.4375rem;

@include md{
    // --h1-font-size:2.8rem;
    --h2-font-size:1.3rem;
    --h3-font-size:0.9375rem;
    --normal-font-size:0.8125rem;
    --small-font-size:0.625rem;
    --smaller-font-size:0.4375rem
}


/*--------FONT WEIGHT----------------------------------------------------------*/
--font-thin: 100;
--font-extraL: 200;
--font-light: 300;
--font-regular: 400;
--font-medium: 500;
--font-semi-bold: 600;
--font-bold: 700;


/*--------MARGIN BOTTOM---------------------------*/
--mb-30:0.9375rem;
--mb-40:1.25rem;
--mb-50:1.5625rem;
--mb-60:1.875rem;
--mb-100:3.125rem;

@include md{
    --mb-30:1.875rem;
    --mb-40:2.5rem;
    --mb-50:3.125rem;
    --mb-60:3.75rem;
    --mb-100:6.25rem;
}

}








//===================== DEBUT BASE - RESET HTML ==========================================//
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


// body {
//     // font-family: var(--body-font);
//     // color: var(--color2);
// }



h1{
    font-family: var(--title-font);
    font-size: var(--h1-font-size-Mobile);
    font-weight: var(--font-normal);
    margin-bottom: .5rem;
    color: var(--color4);
    text-align: left;
}


h2{
    font-family: var(--body-font);
    font-weight: var(--font-regular);
    margin-bottom: 2rem;
    font-size: var(--h2-font-size);
    color: #adadad;
}

h3{
    font-family: var(--title-font);
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 0rem;
    // color: var(--color4);
    // text-align: center;
}



p{
    font-family: var(--body-font);
    color:var(--color4);
    font-weight: var(--font-light);
    font-size: var(--normal-plus);
    line-height: 1.6rem;
}




ul {
    list-style: none;
}

a{
    text-decoration: none;
}



img {
    max-width: 100%;
    height: auto;
}


main{
    width: 100%;
    display: block;
    margin: 4.6875rem auto 0;
    // padding: 0 5%;
    padding: 0 2rem;
}





//------------BUTTONS

//----- DEBUT BUTTON 1 DE BASE -----------------------//
.button {
    font-family: var(--title-font);
    display: inline-block;
    background-color:var(--color4);
    color: var(--color0);
    // margin-top: var(--mb-30) ;
    // padding: .8rem 3rem;
    padding: .5rem 2rem;
    font-weight: var(--font-medium);
    font-size: var(--small-font-size);
    transition: .3s;
}
.button:hover {
    background-color: var(--color8);
}
//----- FINBUTTON 1 DE BASE -----------------------//


//----- DEBUT BUTTON THEME HEADER -----------------------//
.buttonBack{
    background-color: var(--color4);
    border: 1px solid var(--color4);
    color:var(--color0);
}
.buttonBack:hover {
    background-color:--color8;
    color:var(--color0);
    font-weight:var(--font-semi-bold);
    border: 1px solid var(--color8);
}
//----- FIN BUTTON THEME HEADER -----------------------//



//----- DEBUT BUTTON THEME BODY -----------------------//
// .buttonThemeBody{
//     background-color: var(--color0);
//     color:var(--colorTheme);
//     border: 1px solid var(--colorTheme);
// }
// .buttonThemeBody:hover {
//     background-color:var(--colorTheme);
//     color: var(--color0);
//     font-weight:var(--font-semi-bold);

// }

.buttonThemeBody{
    background-color:var(--colorTheme);
    font-weight:var(--font-semi-bold);
    color: var(--color0);

}
.buttonThemeBody:hover {
    background-color: var(--color0);
    border: 1px solid var(--colorTheme);
    color:var(--colorTheme);


}
//----- FIN BUTTON THEME BODY -----------------------//



// .wrapper{
//     width: 100%;
//     position: relative;
// }
//===================== FINBASE - RESET HTML ==========================================//









//------------ DEBUT VERSEION RESPONSIVE DE BASE > S MOBILE FIRST ( > 414px)---------------------------------------//

/*===================== DEBUT MAIN_HEADER ==========================================*/
.header{
    top: 0;
    left: 0;
    width: 100%;
    background-color:var(--color2);
}

.main_header{
    // border: 1px solid red;
    text-align: left;
    margin-bottom: 4rem;
    // padding: 0 5rem 5rem;
    // background-color: var(--colorTheme);
}

/*===================== FIN MAIN_HEADER ==========================================*/





/*===================== DEBUT ACHETER==========================================*/


//----- DEBUT INTRO --------------------------------------------//
.main__body .introduction{
// border: 1px solid black;
display: flex;
flex-wrap: wrap;
width: 100%;
}

.main__body .introduction_texte{
    // border: 1px solid blue;
    width: 100%;
    margin-top: var(--mb-100);
    margin-bottom: var(--mb-100);
    text-align: justify;
}

.main__body .introduction_button{
    text-align: left;
    margin-top: 20px;
}




.main__body .introduction_infos{
    // border: 1px solid red;
    width: 100%;
    display: flex;
    // width: 40%;
    font-size: 11px;
    margin: 2rem 0;
    // color: pink;
}
.main__body .introduction_infos h3{
    font-size: 13px;
    // color: pink;
    margin-bottom: .2rem;
}
.main__body .introduction_infos p{
    font-size: 13px;
    // color: pink;
}


.main__body .introduction_infos--gauche{
    // border: 1px solid yellow;
    width: 50%;
}
.gauche_item{
    // border: 1px solid red;
    margin-bottom: 1.2rem;
}
.gauche_item:last-child{
    margin-bottom: 0rem;
}
.main__body .introduction_infos--gauche p, .main__body .introduction_infos--droite p{
// color: orange;
line-height: 1.3rem;
}


.main__body .introduction_infos--droite{
    // border: 1px solid purple;
    width: 50%;
    // padding-left: 1rem;
}
.droite_item{
    // border: 1px solid red;
    margin-bottom: 1.2rem;
}
.droite_item:last-child{
    margin-bottom: 0rem;
}


// .main__body.introduction_infos--gauche, .main__body.introduction_infos--droite{
//     display: block;
//     width: 50%;
// }








//----- FIN INTRO --------------------------------------------//










/*------------- DEBUT BOARD ----------------------------------------------------*/
.main__body .board{

    .img_board--un{
        margin-top: var(--mb-100);
        // padding-top: var(--mb-60);
        // margin-bottom: var(--mb-50);
        // padding-bottom: var(--mb-100);
    }
    .img_board--deux{
        padding-top: var(--mb-100);
        margin-bottom: var(--mb-100);
        // border-top: 1px solid var(--color6);
    }
    .img_board--trois{
        // padding-top: var(--mb-100);
        margin-bottom: var(--mb-100);
        // border-top: 1px solid var(--color6);
    }
}
/*------------- FIN BOARD ----------------------------------------------------*/















/*===================== FIN ACHETER=======================================================*/









//========DEBUT SCROLL UP==============================================//
.scrollup{
    position: fixed;
    right: 1rem;
    // bottom: 5rem;
    bottom: -20%;
    background-color: var(--color4);
    padding: .35rem .5rem;
    border-radius: .0rem;
    z-index: var(--z-tooltip);
    transition: .4s;
    color: white;
}

.scrollup:hover{
    background-color: var(--color8);

}

.scrollup__icon{
    font-size:1rem;
    color: #fff;
}

.show-scroll{
    bottom: 5rem;
}
//========FIN SCROLL UP==============================================//






/*===================== DEBUT FOOTER ==========================================*/
footer{
    width: 100%;
    border-bottom:1px solid var(--color0) ;
    border-top: 1px solid #efefef;
}



.footer__inner{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:var(--color0);
    padding: 1.5rem 0;
}

.footer__inner p{
    color:var(--color4);
    padding: 0 0.625rem;
    font-weight:var(--font-normal);
    font-family: var(--body-font);
    font-size: 14px;
}
/*===================== FIN FOOTER ==========================================*/





//------------ FIN VERSEION RESPONSIVE DE BASE > S MOBILE FIRST ( > 414px)---------------------------------------//



/*===================== DEBUT RESPONSIVE ==========================================*/

//------------ DEBUT S ( > 414px) : small smartphones (landscape view) ---------//
@include s{

    // .main__body .intro{
    //     padding: var(--mb-30) 0px;
    // }

}
//------------ FIN S ( > 414px) : small smartphones (landscape view) ---------//








//------------ DEBUT SM ( > 568px) : ssmall tablets and large smartphones (landscape view) ---------//
@include sm{

}
//------------ FIN SM ( > 568px) : small tablets and large smartphones (landscape view) ---------//



    






//------------ DEBUT MD ( > 768px) : small tablets and large smartphones (landscape view) ---------//
@include md{

    h1{
        font-size: var(--h1-font-size);
    }

    main{
        padding: 0 4rem;
    }


    .main_header{
        text-align: left;
        margin-bottom: 8rem;
    }
    .main_header h1{
        text-align: left;
    }
    .main_header h2{
        text-align: left;
        margin-bottom: var(--mb-30);
    }


    .main__body .introduction{
        // border: 1px solid black;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        }
        
        .main__body .introduction_texte{
            // border: 1px solid blue;
            width: 60%;
            margin-top: 0rem;
            margin-bottom: 0rem;
            padding-right: 5rem;
        }
        .main__body .introduction_button{
            text-align: left;
            margin-top: 15px;
        }

        .main__body .introductionSuite_texte{
            margin-top: 2rem;
        }
        
        .main__body .introduction_infos{
            // border: 1px solid red;
            width: 40%;
        }

        .main__body .introduction_infos {
            margin: 0;
            padding-top: 0.4rem;
        }


    .scrollup {
        right:0.5rem;
    }


}
//------------ FIN MD ( > 768px) : small tablets and large smartphones (landscape view) ---------//









//------------ DEBUT LG ( > 962px) : Tablets and small desktops ---------//
@include lg{

    .main{
        width: 1140px;
        padding: 0 5rem;
    }

    p{
        font-family: var(--body-font);
        color:var(--color4);
        font-weight: var(--font-light);
        font-size: var(--normal-plus);
    }
    

    .main__body .introduction_texte{
        padding-right: 10rem;
    }

    .main__body .introductionSuite_texte {
        margin-top: 2rem;
    }

    .main__body .introduction_texte {
        width: 70%;
    }
    .main__body .introduction_infos {
        width: 30%;
    }


    // .main__body .intro{
    //     padding: var(--mb-100) 91px var(--mb-30);
    // }

    .scrollup {
        right:.7rem;
    }
   

    .footer__inner a{
        font-size: var(--normal-font-size);
   }
}
//------------ FIN LG ( > 962px) : Tablets and small desktops ---------//



